.plan-card {
  margin: 20px 0;
}

.plan-card .card {
  display: flex;
}

.plan-card .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plan-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.itinerary {
  position: relative;
  padding-left: 40px; /* Adjusted for proper alignment */
}

.itinerary::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px; /* Adjusted for proper alignment */
  width: 2px;
  background: #f00; /* Changed to red */
}

.itinerary-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px; /* Added margin for spacing */
}

.itinerary-item .itinerary-point {
  position: absolute;
  top: 0;
  left: -28px; /* Aligns point with line */
  width: 12px; /* Adjusted size */
  height: 12px; /* Adjusted size */
  background: #f00; /* Changed to red */
  border-radius: 50%;
  z-index: 1;
}

.itinerary-day {
  text-align: center;
  font-weight: bold;
  color: #f00; /* Changed to red */
  position: relative;
}

.itinerary-content {
  padding-left: 20px; /* Adjusted for proper alignment */
}
.btn-orange{
  border: none;
  background-color: hsl(29, 98%, 58%)

}
.btn-black{
  background-color: black;
  border: none;
}
.btn-black:hover{
  background-color: hsl(29, 98%, 58%);
}
.btn-orange:hover  {
  background-color: black;
}