/* src/ComponentCss/PlanCard.css */
.plan-card {
  margin: 20px 0;
}

.plan-card .card {
  display: flex;
}

.plan-card .card img {
  width: 100%;
  height: 100%;
}

.plan-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
